:root {
    --color-white: #FFFFFF;
    --color-gray: #DCDEE4;
    --color-light-gray: #F6F8FA;
    --color-medium-gray: #8392A6;
    --color-dark-gray: #42506B;
    --color-purple: #7344C0;
    --color-green: #25A95B;
    --color-black10: rgba(0,0,0,.1);
    --color-black75: rgba(0,0,0,.75);
    --color-white25: rgba(255,255,255,.25);
    --color-green25: rgba(37, 169, 91, .25);
}

/** resets **/

html, body, ul {
    margin: 0;
    padding: 0;
}

/** base **/
html {
    font-size: 100%;
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/** uncomment the next lines to get an idea about how this could be scaled up **/
/* @media screen and (min-width:768px) {
    html {
        font-size: 150%;
    }
}

@media screen and (min-width:1200px) {
    html {
        font-size: 175%;
    }
} */

.wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
}

/** Base elements **/
.btn {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.icon {
    display: inline-block;
}

.icon > svg {
    width: 100%;
    height: 100%;
    display: block;
}

/** helper class **/
.img-cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** Base typography **/
.title {
    font-weight: 200;
}

.title--pri {
    font-size: .9375em;
    line-height: 1.6;
}

.title--sec {
    font-size: .8125em;
    line-height: 1.5;
}

/** buttons **/
.btn--play {
    font-size: .75em;
    line-height: 1.5;
    text-transform: uppercase;
    background-color: var(--color-black75);
    color: var(--color-white);
    box-shadow: 0 0 0 .0625rem var(--color-white25);
    border-radius: .1875rem;
    padding: .4rem .625rem .35rem;
}

.btn--play .icon {
    width: .6rem;
    height: .6rem;
    padding-right: .15rem;
}

/* start individual components */
.event {
    width: 23.44rem;
    background-color: var(--color-light-gray);
}

.header {
    background-color: var(--color-purple);
    color: var(--color-white);
    text-align: center;
    padding: .75em 0;
}

.header .title {
    margin: 0;
    margin-bottom: .2em;
}

.header .title--sec {
    display: block;
}

.cover {
    position: relative;
    height: 12.1875em;
}

.cover .btn--play {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1.25rem;
    margin-bottom: 2.5rem;
}

.profile {
    text-align: center;
    background-color: var(--color-white);
    box-shadow: 0 0 .625em 0 var(--color-black10);
    border-radius: .3125em;
    margin: -1.25rem 1.25rem 1.25rem;
    position: relative;
}

.profile__thumb {
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    border: .125rem solid var(--color-white);
    transform: translateY(-50%);
    margin: 0 auto -1.5rem;
    overflow: hidden;
}

.profile__thumb > img {
    max-width: 100%;
}

.score {
    color: var(--color-dark-gray);
}

.score__title {
    font-size: 1.125em;
    color: var(--color-green);
}

.score .score__label { 
    font-size: .8125em;
    line-height: 1.6;
    display: block;
    padding-bottom: 1.125rem;
}

.score__label:after {
    content: " 😎";
}

.score__range {
    height: .3125em;
    border-radius: .3125em;
    background-image: linear-gradient(to right, var(--color-green) 50%, var(--color-green25) 50%) ;
    margin: 1em;
    position: relative;
}

.score__range:after {
    content: '';
    width: .9375em;
    height: .9375em;
    background-color: var(--color-green);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: .18em solid var(--color-white);  
    border-radius: 50%;  
}

.product {
    margin-top: 1.25em;
    padding-bottom: 1.25em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    background-color: var(--color-white);
}

.product__img {
    width: 100%;
    height: 10.9375em;
}

.product__wrapper {
    display: block;
    padding: 1.25em;
    border: 1px solid var(--color-gray);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.category {
    display: inline-block;
    border-radius: .3125em;
    border: 1px solid var(--color-gray);
    overflow: hidden;
}

.category__label,
.category__desc {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: .6875em;
    line-height: 1.3;
    letter-spacing: 0.06875rem;
    padding: .75em 1em;
}

.category__label {
    color: var(--color-medium-gray);
    background-color: var(--color-light-gray);
}

.category__desc {
    color: var(--color-green);
    background-color: var(--color-white);
}

.category li + li {
    border-left: 1px solid var(--color-gray);
}

.product .title--pri {
    color: var(--color-dark-gray);
    margin: .8rem 0 .4rem;
}

.product .title--sec {
    color: var(--color-medium-gray);
}